@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
body{
	background-image:url('../1-f.jpg');
}
.main{
background: #26a69a;
color: white;
font: normal 12px 'Open Sans', sans-serif;
margin-top: 20px;
}
ul.countdown {
list-style: none;
margin: 75px 0;
padding: 0;
display: block;
text-align: center;
}
ul.countdown li {
display: inline-block;
}
ul.countdown li span {
font-size: 80px;
font-weight: 300;
line-height: 80px;
}
ul.countdown li.seperator {
font-size: 80px;
line-height: 70px;
vertical-align: top;
}
ul.countdown li p {
color: white;
font-size: 14px;
}